<div id="team-directory">

<h1>ALL Teams</h1>
<% @teams.each do |t|%>
<article class="team">
	<h4 class="team-name"><%=t.name %></h4>
	<h5 class="team-venue"><%= t.venue %></h5>
	<h5 class="team-city"><%= t.city %>,<%= t.state %></h5>
	<div class="team-venue-image"><%= t.image %></div>
</article>
<% end %>

</div>