<div id="team-directory">

<h1>ALL Teams</h1>


<% @teams.each do |t| %>
							<div class="team">
									<div class="team-overview">

										<div class="team-logo"><img src='<%= t.logo %>'/></div>
									
										<div class="team-info">
												<h4 class="team-name"><%=t.name %></h4>
												<h5 class="team-venue"><%= t.venue %></h5>
												<h5 class="team-city"><%= t.city %>,<%= t.state %></h5>
												<div class="team-venue-image"><%= t.image %></div>
																								
													<%#= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@t.latitude}%2C#{@t.longitude}" %>

											<div class="team-links">
												<a href="#">MLS</a>
												<a href="#">ESPN</a>
											</div>

										</div>
									
									<!-- 	<div class="team-feed">
											<header></header>
											<nav></nav>
										</div> -->

									</div>
									</div>

							<% end %>




</div>