<h1>Intro</h1>

<%# if current_user && user_signed_in? %>
<%#= link_to 'Skip This', root_path %>
<%# else %>
<!-- <div id="slideshow" class="cycle-slideshow" data-cycle-speed='1000' data-cycle-pause-on-hover='true' data-cycle-fx='none' data-cycle-slides=">section"> -->

<div style="background: red">


<!-- here's where we add slides. each corresponds to a single Slide stored in the DB.   Need a Ruby statement, to get all slides, and on each put in a section div %> -->

<%= @slides.each do |s| %>

<section id="section" class="slide" name="slide" style="background: black; clear:both">

<%= s.name %>
<%= s.desc %>
<%= s.image_url %>
<%= s.cite %>

</section>
<% end %>
<div style="clear:both"></div>

</div>






