<h5>A look at soccer in the US</h5>

<div id="slideshow" class="cycle-slideshow" data-cycle-speed='1000' data-cycle-pause-on-hover='true' data-cycle-fx='none' data-cycle-slides=">section">

<% @slides.each do |slide| %>

<section id="section" class="slide" name="slide">
		
	<div class="slide-info">
		<div class="slide-name"><h3><%= slide.name %></h3></div>
		<div class="slide-desc"><%= slide.desc %></div>
		<div class="slide-citation"><%= slide.cite %></div>
	</div>
	<%= slide.data.html_safe %>
	<figure><%= slide.data.html_safe %></figure>

</section>

<% end %>
<br/>
<div style="clear:both">
</div>
