<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>


<!--setting up edit to be inside a slideshow (later iside a modal slideshow) that only appears on initial reg  (or login if db has nils)-->

<% if request.original_url %>

<label>Show users a full reg edit form if the requesting URl is the app root. OTHERWISE...shows a subset of the reg edit form</label>

<% else %>

<div id="slideshow" class="cycle-slideshow" data-cycle-speed='1000' data-cycle-pause-on-hover='true' data-cycle-fx='none' data-cycle-slides=">section">

  <% if user_signed_in? && (current_user.profile || current_user.location) == nil %>
    
    <!-- tab 0: choose profile -->
    <% if current_user.profile == nil %>
      <section id="section" class="slide" name="slide">
          <%= f.label :profile, 'Choose Profile' %>
          <%= f.radio_button(:profile, "Fan") %>
          <%= f.label(:profile_fan, "Fan") %>
          <%= f.radio_button(:profile, "Parent") %>
          <%= f.label(:profile_parent, "Parent") %>
          <div><%= f.submit "Update" %></div>
      </section>
    <%end%>
    
    <!-- tab 0: confirm location -->
    <% if current_user.location == nil %> 
      <section id="section" class="slide" name="slide">
      <label>show current location as listed in FB and provide confirmation fields</label>
      <div><%= f.submit "Update" %></div>
      </section>
    <% end %>

  <% else %>

    <!-- tab 3: normal -->
    <section id="section" class="slide" name="slide">

      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, :autocomplete => "off" %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>


      <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %></div>
      <div><%= f.submit "Update" %></div>

    </section>

<% end %>

</div>

<% end %>

<!-- <h3>Cancel my account</h3>
 -->

<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%#= link_to "Back", :back %>
