
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
<!-- <h5>Default View <%#= resource_name.to_s.humanize %></h5>
 -->

<%= devise_error_messages! %>

      <div id="slideshow" class="cycle-slideshow modal" data-cycle-speed='3000' data-cycle-pause-on-hover='true' data-cycle-fx='none' data-cycle-slides=">section">

                  <% if user_signed_in? #&& current_user.profile == nil %>
                    
                    <!-- tab 1: choose a profile -->
                      <section id="section" class="slide" name="slide">

                        <div class="sleeve">
                              
                              <h5><%= f.label :profile, 'Default View' %></h5>
                              <aside class="left">
                              <%= f.radio_button(:profile, "Fan") %>
                              <%= f.label(:profile_fan, "Fan") %>
                              </aside>

                              <aside class="right">
                              <%= f.radio_button(:profile, "Parent") %>
                              <%= f.label(:profile_parent, "Parent") %>
                              </aside>

                        </div>

                        <div class="clearfix"></div>  

                        <%= f.submit "Confirm", :class=>'button' %><div><%#= link_to "Cancel", root_path %></div>
                       
                      </section>




                       <section id="section" class="slide" name="slide">

                        <div class="sleeve">
             
                          <%#= options_from_collection_for_select(Team.all, :id, :name) %>
                          <%= collection_select(:user, :primary_team_ids, Team.all, :id, :name) %>

                        </div>

                        <div class="clearfix"></div>  

                        <%= f.submit "Confirm", :class=>'button' %><div><%#= link_to "Cancel", root_path %></div>
                       
                      </section>





                  
                    
                      
                 
                    
                    <!-- tab 2: confirm location -->
                    <!-- tab 3: normal -->
                   
                      <!--<section id="section" class="slide" name="slide">

                      <div><%#= f.label :email %><br />
                      <%#= f.email_field :email, :autofocus => true %></div>

                      <%# if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></div>
                      <%# end %>

                      <div><%#= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                      <%#= f.password_field :password, :autocomplete => "off" %></div>

                      <div><%#= f.label :password_confirmation %><br />
                      <%#= f.password_field :password_confirmation %></div>

                      <div><%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                      <%#= f.password_field :current_password %></div>

                    </section>-->
                   
                <% end %>

      </div> <!--slideshow-->

<% end %> <!-- form -->



<!-- <h3>Cancel my account</h3>-->
<!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>-->

<%#= link_to "Back", :back %>