  <nav id="utility">
        
        <% if current_user %>
        <span>Hi,</span>
        <%= current_user.first_name %>      
        <%= current_user.city %>
        <%= image_tag current_user.picture %>
        <%= link_to "Sign Out", destroy_user_session_path %>
        <% else %>
<!--         <span>Log In:</span>
 -->        <%#= link_to "Sign In", new_user_session_path %>
        <%= link_to image_tag('https://www.facebookbrand.com/img/assets/asset.facebook.logo.lg.png'), user_omniauth_authorize_path(:facebook)%>
        <%end%>
      </nav>

      <nav id="site">
        <% if current_user %>
        <%= render partial: "/partials/nav" %>
        <%else%>
        <% end %>
      </nav>
    </div>