<% if user_signed_in? %>
<nav class="private">
<ul class="left">
  <li><% link_to 'MYCITYFC', root_path %></li>
  <li><%= link_to 'STATS', slides_path %></li>
  <li><%= link_to 'PRO SOCCER IN YOUR AREA', fan_profiles_path %></li>
  <li><%= link_to 'ALL TEAMS', teams_path, class: "team-directory" %></li>
<!--   <li><%#= link_to 'soccer mom?', parent_profiles_path %></li>
 --></ul>
<ul class="right">
  <li>Hi, <%= current_user.first_name %>!</li>
  <li class="current-user-city">Here's what's going on around <%= current_user.city %>.</li>
  <li><%= image_tag current_user.picture %></li>
  <li><%= link_to('Profile', edit_user_registration_path) %></li>
  <li><%= link_to('Logout', destroy_user_session_path)%></li>
  </li>
</ul>
</nav>

<% else %>
<nav class="public">
<ul class="left">
  <li><% link_to 'MYCITYFC', root_path %></li>
</ul
<ul class="right">
  <!-- <li><%#= link_to('Login', new_user_session_path)  %> </li> -->
  <!--<li><%#= link_to('Register', new_user_registration_path)%></li>-->
  <li>SIGN IN WITH FACEBOOK<%= link_to image_tag('https://www.facebookbrand.com/img/assets/asset.facebook.logo.lg.png'), user_omniauth_authorize_path(:facebook)%></li>
</ul>
</nav>
<%end%>