<% if user_signed_in? && current_user %>
  <ul>
  	<li><%= current_user.profile %></li>
	<li><%= link_to 'home', root_path %></li>
	<li><%= link_to 'usa stats', slides_path %></li>
	
	<% if current_user.profile == 'Parent' %>
	<li><%= link_to 'See fan - home page', fan_profiles_index_path %></li>
	<% else %>
	<li><%= link_to 'See soccer mom - home page', parent_profiles_index_path %></li>
	<% end %>

</ul>

<% else %>
<ul>
	<li><% link_to 'Home', root_path %></li>
</ul>
<% end %>



