<div id="match-overview">
	<div class="sleeve">
	<p>My Team:<%= current_user.primary_team %></p>

	<ul>
	<li><%= @game_time %></li>
	<li><%= @home_team %></li>
	<li><%= @away_team %></li>
	<li><%= @tv %></li>
	<li><%= @tickets %></li>
	</ul>


	<%#= @my_team %>

	<!--from nokogiri, using for match trigger-->
	<%#= @schedule_mls %>
	<!-- espn api, use tbd. data may be unreliable-->

	<%#= @response.each do |record| %>

			<%#= record['location'] %>
			<%#= record['name'] %>
		
	<%# end %>

	<!--match overview-->
	<!--It is <%#= @weather %> at the moment. -->
	
	<div class="match-trigger">open panel</div>
</div>
</div>