<div id="js-match-day">
<div class="sleeve">
	
	<%= @schedule %>

	<%#= @game_date %>
	<ul>
	<li><%= @game_time %></li>
	<li><%= @home_team %></li>
	<li><%= @away_team %></li>
	<li><%= @tv %></li>
	<li><%= @tickets %></li>
	</ul>


<div class="match-trigger">close</div>

	<%#= @time %>
	<%#= @today %>


	<p class="alert"><%= alert %></p>	

</div>
</div>