<div id="js-match-day">
	<div class="sleeve">
		<section id="schedule">
			<p class="alert"><%= alert %></p>
			<p><%= @my_team %></p>
			<% @schedule_array.each do |game| %>
	
				<!--date should appear here -->
				<div class="game-date">
					<%= game.parent.parent.previous_element.text %>
				</div>

				<div class="single-game">
			
				<h6><%= @home %></h6>
				<h6><%= @away %></h6>


					<div class="game-home"><%= game.css('.field-home-team').text %></div>
					<div class="game-home-logo"><img src="<%= game.css('imagecache-schedule_team_logo') %>"/></div>
					<div class="game-score"><%= game.css('.field-score').text %></div>
					<div class="game-away-logo"><%= game.css('.field-away-team-logo').text %></div>
					<div class="game-away"><%= game.css('.field-away-team').text %></div>
					<div class="game-time"><%= game.css('.field-game-date-start-time').text %></div>
					<a class="game-tickets" href="#"><%= game.css('a.sch_matchcenter').text %></a>
				</div>


			<%end%>
		</section>
		<div class="match-trigger">close</div>
	</div>
</div>