<div id="js-match-day">
<div class="sleeve">
<div class="match-trigger">close</div>

	<%#= @time %>
	<%#= @today %>

	<%#= @game_date %>
	<%= @game_time %>
	<%= @home_team %>
	<%= @away_team %>
	<%= @tv %>
	<%= @tickets %>


	<p class="alert"><%= alert %></p>	

</div>
</div>