<ul class="competitions">
	<li class="type-all clicked">ALL</li>
	<li class="type-mls-reg clicked">MLS</li>
	<li class="type-ccl clicked">CCL</li>
	<li class="type-open clicked">OPEN CUP</li>
<!-- 	<li class="type-friendly clicked">INTL FRIENDLY</li>
 --></ul>

<div class="clearfix"></div>

<% @schedule.each do |game| %>

<div class="single-game">
	<div class="game-date">
		<%= game.parent.parent.previous_element.text %>
	</div>
		<div class="game-time"><%= game.css('.field-game-date-start-time').text %></div>

	<div class="clearfix"></div>

	<div class="game-competition"><%= game.css('span.competetion').text %></div>
	<div class="game-home"><%= game.css('.field-home-team').text %></div>
	<%= raw game.css('.field-home-team-logo') %>
	
	<span class="separator">vs</span>

<!-- <img src="<%#= game.css('imagecache-schedule_team_logo') %>"/>
 -->
	<div class="game-score"><%= game.css('.field-score').text %></div>

	<%= raw game.css('.field-away-team-logo') %>
 	<div class="game-away"><%= game.css('.field-away-team').text %></div>

		<div class="clearfix"></div>
	
	<div class="game-links">
	<a class="game-tv">
		<%= game.css('.field-broadcast-partners').text %></a>	
		<%= raw game.css('a.sch_tickets') %>
		<%= raw game.css('a.sch_matchcenter') %>
	</div>
	
</div>
<%end%>
