<%= render 'match' %>

<header id="banner">

	<div class="g-title">TODAY IN SOCCER</div>

	<!-- <h3>Hi Jamie<%#= current_user.first_name %>!</h3> -->
 	<!--appears on match day for user's prefered team.-->
 	<%= render 'match_overview' %>

 	<!--constant, but if match day appears, then is minimized or positioned elsewhere .-->

 	<%= render 'news_ticker' %>

</header>



<div id="latest-content">
	
	<header><h3><%#= current_user.primary_team %>MATCH HIGHLIGHTS AND NEWS</h3></header>

	<section id="videos">
		<div class="sleeve">
		</div>
	</section>

</div>

<!--right panel-->

<div id="profile">

	<header class="team-finder">
	<h3>PRO TEAMS NEAR <%= current_user.city, html:{class: "team-geo"} %>| <%= link_to 'All Teams', teams_path, html:{class: "team-directory"} %></h3>
	</header>
	
<div id="slideshow" class="leagueslider"  data-cycle-fx='none' data-cycle-slides=">.league" data-cycle-pager='>.cycle-pager'    data-cycle-pager-template="" data-cycle-timeout="0" data-cycle-pager-event="mouseover" data-cycle-pager-active-class="active" data-cycle-slide-active-class="active-slide">

							<ul class="cycle-pager">
							<li class="pager">MLS</li>
							<li class="pager">NASL</li>
							<li class="pager">USL PRO</li>
							</ul>

<div class="league slide">
					<section id="my-teams">
						<div class="sleeve">
							
							<% @nearby_teams.each do |t| %>
							<div class="team">
									<div class="team-overview">

										<div class="team-logo"><img src='<%= t.logo %>'/></div>
									
										<div class="team-info">
												<h4 class="team-name"><%=t.name %></h4>
												<h5 class="team-venue"><%= t.venue %></h5>
												<h5 class="team-city"><%= t.city %>,<%= t.state %></h5>
												<div class="team-venue-image"><%= t.image %></div>
												<h5 class="team-distance">Approx. <%= t.distance_to(current_user.city).to_i %> miles away.</h5>
																								
													<%#= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@t.latitude}%2C#{@t.longitude}" %>

											<div class="team-links">
												<a href="#">MLS</a>
												<a href="#">ESPN</a>
											</div>

										</div>
									
									<!-- 	<div class="team-feed">
											<header></header>
											<nav></nav>
										</div> -->

									</div>
									</div>

							<% end %>
					
					</div><!--sleeve-->

					</section><!--my teams section-->



		<div class="clearfix"></div>
		
					<section id="my-news">
					<div class="sleeve">
					<header><h5>NEWS</h5></header>
					</div>
					</section>
					<section id="my-players">
					<div class="sleeve">
					<header><h5>WHOS ON YOUR TEAM?</h5></header>
					<article></article>
					</div>
					</section>

		<div class="clearfix"></div>

					<section id="fans">
					<div class="sleeve">
					<header><h5>WHERE TO WATCH (And yes, drink)</h5></header>
					</div>
					</section>






</div>

<div class="league slide">
	<header class="right">NASL</header>
	<p>Want to see NASL team info on this site? Help us out by ....</p>
</div> <!--2-->


<div class="league slide">
	<header class="right">USL Pro</header>
	<p>Want to see USL PRO team info on this site? Help us out by ....
</div><!--3-->

</div><!--close slides-->

</div><!--slideshow-->





<div class="clearfix"></div>
<section id="tbd">
<div class="sleeve">
<header><h3>AROUND THE LEAGUE</h3></header>
</div>
</section>