<%= render 'gameday' %>
<header id="banner">
	<%= render 'game_previews' %>
	<%= render 'news_ticker' %>
</header>
<div id="profile">
	<h3 class="">Latest from YouTube</h3>

	<section id="videos">
		<div class="sleeve">
	
		<div class="cycle-control prev">
			<a href=# id="prev" class="reload-prev"><</a>
		</div>
		<div class="cycle-control next">
			<a href=# id="next" class="reload-next">></a>
		</div>

	  <%#= @yt_team %>
	  <%#= @primary_team %>
	  <!--replace later with current_user.primary_team-->
		<%#= @yt_username %>
<!-- 		<header><h4>Latest Videos</h4></header>
 -->		<!-- <p class="notice"><%#= notice %></p> -->

		<div class="cycle-slideshow"	
			data-cycle-timeout=0
			data-cycle-prev=#prev
			data-cycle-next=#next
			data-cycle-slides=">.video-slide"
			data-cycle-youtube=true
			data-cycle-youtube-autostart=false
			data-cycle-youtube-autostop=true 
			>

<% @video_ids.each do |v| %>
<iframe id="player" class="video-slide" type="text/html" width="600" height="375"
src="http://www.youtube.com/embed/<%= v %>?enablejsapi=1"
frameborder="0"></iframe>
<% end %>

		</div>
	
	</div>
</section>
<section id="fans">
	<div class="sleeve">
	<header><h3>New Fan?</h3></header>	
	<aside>
		<div class="venues"><header><h4>WHERE TO WATCH <%= @my_team %><%#=current_user.city %></h4></header><span class="pending">Yelp API integration pending.</div>
		<div class="social"><header><h4>FOLLOW TEAM?</h4></header><span class="pending">Twitter / FB API integration pending</span>
		</div>
	</aside>

	</div>
</section>

<section id="schedule-results">
<div class="sleeve">
<header><h3>Previous Results</h3></header>
<%= render 'schedule' %>
</div>
</section>

</div> 
<!--close left-->
<!--right panel-->
<div id="local">
<h3>Teams near <%= current_user.city %> <%#= link_to 'All Teams', teams_path, class: "team-directory" %></h3>
<!-- <p class="instructions">Click a team to add it to your profile!</p>
 -->


<div id="slideshow" class="js-tabs"  data-cycle-fx='none' data-cycle-slides=">.league" data-cycle-pager='>.cycle-pager'    data-cycle-pager-template="" data-cycle-timeout="0" data-cycle-pager-event="mouseover" data-cycle-pager-active-class="active" data-cycle-slide-active-class="active-slide">
<ul class="cycle-pager">
	<li class="pager">MAJOR LEAGUE SOCCER</li>
	<li class="pager">NASL</li>
	<li class="pager">USL PRO</li>
</ul>

<div class="league slide">

	
		<!-- PLACE TEAM INFO HERE -->
<% @nearby_teams.each do |t| %>
	<div class="team">
	<div class="team-overview">
		<div class="team-logo"><img src='<%= t.logo %>'/></div>
					
					<div class="team-info">
						<h4 class="team-name"><%=t.name %></h4>
						<h5 class="team-venue"><%= t.venue %></h5>
						<h5 class="team-city"><%= t.city %>,<%= t.state %></h5>
						<div class="team-venue-image"><%= t.image %></div>
						<h5 class="team-distance"><%= t.distance_to(current_user.city).to_i %> miles away.</h5>
						<!-- <div class="team-links">
							<a href="#">MLS</a>
							<a href="#">ESPN</a>
						</div> -->
					</div>

	</div>
	</div>
	<% end %>
		<!-- PLACE TEAM INFO HERE -->

</div>

<div class="league slide">
	<div class="sleeve">
	<header class="left"><p>Coming soon</p></header>
	</div>
</div> <!--2-->

<div class="league slide">
	<div class="sleeve">
	<header class="left"><p>Coming soon.</p></header>
	</div>
</div><!--3-->

</div><!--slideshow-->

<section id="tbd">
	<div class="sleeve">
	<header><h4>AROUND THE LEAGUE</h4></header>
	<div class="pending"></div>
	</div>
</section>
</div>