<div id="trigger">Game Day!</div>
<div id="match-day">
	<section>
		<%= @current_time %>
		<p class="alert"><%= alert %></p>
		<%#= @schedules_mls %>
	</section>
	<aside class="right">match info
	<details>time, day, etc</details></aside>
</div>

<header>
	<!-- <h3>Hi Jamie<%#= current_user.first_name %>!</h3> -->
	<h4><!-- It is <%#= @weather %> at the moment. --> Here's what's going on around <%#= current_user.city %></h4>
</header>

<div id="latest-content">
	
	<header><h3>LATEST NEWS</h3></header>

	<section id="videos">
		<div class="sleeve">
		</div>
	</section>

</div>

<!--right panel-->

<div id="profile">

<%= render partial: 'search' %>


<% for team in @myteams.nearbys(10) %>
<%= team.name, team.city %> (<%= city.distance.round(2) %> miles)
<% end %>



<div id="slideshow" class="leagueslider"  data-cycle-fx='none' data-cycle-slides=">.league" data-cycle-pager='>.cycle-pager'    data-cycle-pager-template="" data-cycle-timeout="0" data-cycle-pager-event="mouseover" data-cycle-pager-active-class="active" data-cycle-slide-active-class="active-slide">

							<ul class="cycle-pager">
							<li class="pager">MLS</li>
							<li class="pager">NASL</li>
							<li class="pager">USL PRO</li>
							</ul>

<div class="league slide">
					<section id="my-teams">
						<div class="sleeve">

							<% @myteams.each do |t| %>
							<div class="team">
									<div class="team-overview">

										<div class="team-logo"><img src='<%#= t.logo %>'/></div>
									
										<div class="team-info">
												<h4 class="team-name"><%#=t.name %></h4>
												<h5 class="team-venue"><%#= t.venue %></h5>
												<h5 class="team-city"><%#= t.city %>, <%#= t.state %></h5>
												<div class="team-venue-image"><%#= t.image %></div>
										</div>
									
									<!-- 	<div class="team-feed">
											<header></header>
											<nav></nav>
										</div> -->


										<div class="team-links">
											<a href="#">MLS</a>
											<a href="#">ESPN</a>
										</div>

									</div>
									</div>

							<% end %>

					
					</div><!--sleeve-->
					</section><!--my teams section-->

		<div class="clearfix"></div>
		
					<section id="my-news">
					<div class="sleeve">
					<header><h5>NEWS</h5></header>
					</div>
					</section>
					<section id="my-players">
					<div class="sleeve">
					<header><h5>WHOS ON YOUR TEAM?</h5></header>
					<article></article>
					</div>
					</section>

		<div class="clearfix"></div>

					<section id="fans">
					<div class="sleeve">
					<header><h5>FIND A SUPPORTERS CLUB</h5></header>
					</div>
					</section>


</div>

<div class="league slide">
	<header class="right">NASL</header>
	<p>Want to see NASL team info on this site? Help us out by ....</p>
</div> <!--2-->


<div class="league slide">
	<header class="right">USL Pro</header>
	<p>Want to see USL PRO team info on this site? Help us out by ....
</div><!--3-->

</div><!--close slides-->

</div><!--slideshow-->

<div class="clearfix"></div>
<section id="tbd">
<div class="sleeve">
<header><h3>AROUND THE LEAGUE</h3></header>
</div>
</section>