<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />
  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=BenchNine|Pathway+Gothic+One|Numans|Carrois+Gothic+SC|Inconsolata' %>

  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>



<!-- this is not dry - but for some reason on Heroku, the route to my helper method that controls class swap breaks and I can't figure out what's going on. So putting logic straight into view.-->


<% if current_page?(url_for(:controller => 'fan_profiles')) %>

<body class="bg-fan-profiles">

<% elsif %>
<% current_page?(url_for(:controller => 'parent_profiles')) %>

<body class="bg-parent-profiles">

<% else %>

<% current_page?(url_for(:controller => 'slides')) %>

<body class="bg-slides">
<% end %>


<div id="utility-bar">
  <div id="upper"><%= render partial: "/partials/login" %></div>
  <div id="lower"><%= render partial: "/partials/site" %></div>
</div>

   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

<div id="wrapper">
  <div id="inner-wrapper">
    <%= yield %>
</div>
</div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>